<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackyourMoney"
        tools:targetApi="31">
        <activity
            android:name=".ui.kategorie_erstellen_loeschen.KategorieErstellenLoeschenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.einnahme_hinzufügen.EinnahmeHinzufuegenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ausgabe_hinzufuegen.AusgabeHinzufuegenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ausgabenlimit_aendern.AusgabenlimitAendernActivity"
            android:exported="false" />
        <activity
            android:name=".ui.budget_aendern.BudgetAendernActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fixkosten_aendern.FixkostenAendernActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ausgaben.AusgabenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fixkosten.FixkostenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.analyse.AnalyseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrackyourMoney.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>